{%extends 'images/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<div class="container">


  <div class="card-columns">
      {% for image in images %}

  <div class="card border-secondary">
    <img class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="Image" size="100px200" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">

  </div>
      {% empty %}
  <div class="row">
    <h2 class="text-center">There is no images here</h2>
  </div>
      {% endfor %}

  </div>


</div>

{% endblock %}
